header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                img(src="WTS-Logo-SecondaryDate-WHITE.png")
        .header__column
            ul
                li
                    a.nav(href=routes.wts) 글로벌 미니스트리
                    .menu
                        .menu__wrapper
                            .wrapper__column
                            .wrapper__column
                                ul.sub
                                    li
                                        a(href) 미션
                                    li
                                        a(href) 글로벌 리더십
                                    li
                                        a(href) 100주년을 바라보는 비전
                                    li
                                        a(href) 한국교회와 함께하는 비전    
                                ul.sub
                                    li
                                        a(href) 후원이사
                                    li
                                        a(href) 후원이사 아너스클럽
                                    li
                                        a(href) 한국 자문위원단
                                    li
                                        a(href) 협력기관    
                                ul.sub
                                    li
                                        a(href) 총장 인사말
                                    li
                                        a(href) 후원이사 기금
                                    li
                                        a(href) 오병이어 장학기금
                                    li
                                ul.sub
                                    li
                                        a(href) 참여방법
                                    li
                                        a(href) 온라인 후원
                                    li
                                        a(href) 나의 후원내역
                                    li 
                                ul.sub
                                    li
                                        a(href) 소식
                                    li
                                        a(href) 기부 스토리
                                    li
                                        a(href) 이벤트
                                    li
                li
                    a.nav(href=routes.partners) 파트너스
                    .menu
                        .menu__wrapper
                            .wrapper__column
                            .wrapper__column
                                ul.sub
                                    li
                                        a(href) 미션
                                    li
                                        a(href) 글로벌 리더십
                                    li
                                        a(href) 100주년을 바라보는 비전
                                    li
                                        a(href) 한국교회와 함께하는 비전    
                                ul.sub
                                    li
                                        a(href) 후원이사
                                    li
                                        a(href) 후원이사 아너스클럽
                                    li
                                        a(href) 한국 자문위원단
                                    li
                                        a(href) 협력기관    
                                ul.sub
                                    li
                                        a(href) 총장 인사말
                                    li
                                        a(href) 후원이사 기금
                                    li
                                        a(href) 오병이어 장학기금
                                    li
                                ul.sub
                                    li
                                        a(href) 참여방법
                                    li
                                        a(href) 온라인 후원
                                    li
                                        a(href) 나의 후원내역
                                    li
                                ul.sub
                                    li
                                        a(href) 소식
                                    li
                                        a(href) 기부 스토리
                                    li
                                        a(href) 이벤트
                                    li
                li
                    a.nav(href=routes.campaign) 후원기금
                    .menu
                        .menu__wrapper
                            .wrapper__column
                            .wrapper__column
                                ul.sub
                                    li
                                        a(href) 미션
                                    li
                                        a(href) 글로벌 리더십
                                    li
                                        a(href) 100주년을 바라보는 비전
                                    li
                                        a(href) 한국교회와 함께하는 비전    
                                ul.sub
                                    li
                                        a(href) 후원이사
                                    li
                                        a(href) 후원이사 아너스클럽
                                    li
                                        a(href) 한국 자문위원단
                                    li
                                        a(href) 협력기관    
                                ul.sub
                                    li
                                        a(href) 총장 인사말
                                    li
                                        a(href) 후원이사 기금
                                    li
                                        a(href) 오병이어 장학기금
                                    li
                                ul.sub
                                    li
                                        a(href) 참여방법
                                    li
                                        a(href) 온라인 후원
                                    li
                                        a(href) 나의 후원내역
                                    li
                                ul.sub
                                    li
                                        a(href) 소식
                                    li
                                        a(href) 기부 스토리
                                    li
                                        a(href) 이벤트
                                    li
                li
                    a.nav(href=routes.giving) 후원신청
                    .menu
                        .menu__wrapper
                            .wrapper__column
                            .wrapper__column
                                ul.sub
                                    li
                                        a(href) 미션
                                    li
                                        a(href) 글로벌 리더십
                                    li
                                        a(href) 100주년을 바라보는 비전
                                    li
                                        a(href) 한국교회와 함께하는 비전    
                                ul.sub
                                    li
                                        a(href) 후원이사
                                    li
                                        a(href) 후원이사 아너스클럽
                                    li
                                        a(href) 한국 자문위원단
                                    li
                                        a(href) 협력기관    
                                ul.sub
                                    li
                                        a(href) 총장 인사말
                                    li
                                        a(href) 후원이사 기금
                                    li
                                        a(href) 오병이어 장학기금
                                    li
                                ul.sub
                                    li
                                        a(href) 참여방법
                                    li
                                        a(href) 온라인 후원
                                    li
                                        a(href) 나의 후원내역
                                    li
                                ul.sub
                                    li
                                        a(href) 소식
                                    li
                                        a(href) 기부 스토리
                                    li
                                        a(href) 이벤트
                                    li
                li
                    a.nav(href=routes.news) 뉴스
                    .menu
                        .menu__wrapper
                            .wrapper__column
                            .wrapper__column
                                ul.sub
                                    li
                                        a(href) 미션
                                    li
                                        a(href) 글로벌 리더십
                                    li
                                        a(href) 100주년을 바라보는 비전
                                    li
                                        a(href) 한국교회와 함께하는 비전    
                                ul.sub
                                    li
                                        a(href) 후원이사
                                    li
                                        a(href) 후원이사 아너스클럽
                                    li
                                        a(href) 한국 자문위원단
                                    li
                                        a(href) 협력기관    
                                ul.sub
                                    li
                                        a(href) 총장 인사말
                                    li
                                        a(href) 후원이사 기금
                                    li
                                        a(href) 오병이어 장학기금
                                    li
                                ul.sub
                                    li
                                        a(href) 참여방법
                                    li
                                        a(href) 온라인 후원
                                    li
                                        a(href) 나의 후원내역
                                    li
                                ul.sub
                                    li
                                        a(href) 소식
                                    li
                                        a(href) 기부 스토리
                                    li
                                        a(href) 이벤트
                                    li