header.header
    .header__column
        a(href=routes.home)
            img(src="WTS-Logo-PrimaryDate-RGB.png" width=160, height=100)
    .header__column
        ul
            li
                a(href=routes.wts) WTS 글로벌 미니스트리
            li
                a(href=routes.partners) 파트너스
            li
                a(href=routes.campaign) 후원기금
            li
                a(href=routes.giving) 후원신청
            li
                a(href=routes.news) 뉴스